# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Cache directories
.pm-cache/
.npm-cache/
.eslintcache
.stylelintcache
.cache/

# Log files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE/Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project-specific / user custom ignores
source-data/WotC_5.5e+Legacy_5e_WotC.xml
.DS_Store
01_Players_Handbook_2024
.DS_Store
